<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레퍼런스</title>
</head>

<body>
    <a href="https://arxiv.org/abs/1703.10593">https://arxiv.org/abs/1703.10593</a> <br>
    <a href="https://github.com/tensorflow/examples/blob/master/tensorflow_examples/models/pix2pix/pix2pix.py">https://github.com/tensorflow/examples/blob/master/tensorflow_examples/models/pix2pix/pix2pix.py </a><br>
    <a href="https://github.com/hanyoseob/pytorch-CycleGAN">https://github.com/hanyoseob/pytorch-CycleGAN</a><br>
    <a href="https://github.com/vanhuyz/CycleGAN-TensorFlow">https://github.com/vanhuyz/CycleGAN-TensorFlow</a><br>
    <a href="https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix/blob/master/models/networks.py">https://github.com/junyanz/pytorch-CycleGAN-and-pix2pix/blob/master/models/networks.py</a><br>
</body>

</html>